<form method="POST">
	<h3><% building.label %></h3>
  <div class="form-group">
    <label for="buildingLabel">Display Label</label>
    <input type="text" class="form-control" id="buildingLabel" name="building_label" placeholder="Venue Label" value="<% building.label %>">
  </div>
  <div class="form-group">
    <label for="buildingSublabel">Sublabel</label>
    <input type="text" class="form-control" id="buildingSublabel" name="building_sublabel" placeholder="Venue Sublabel" value="<% building.sublabel %>">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="1" name="building_active" <% IF building.active %>checked="checked"<% END %>/> Active?
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
	<input type="hidden" name="building_id" value="<% building.id %>" />
</form>
